.create-task-container {
  display: flex;
  flex-direction: column;
}

.create-task-container > * {
  width: 100%;
}

.create-task-button {
  padding: 0 14px;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}


.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}
