<div class="example-container mat-elevation-z8">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>New Task</span>
      <span class="toolbar-spacer"></span>
      <a mat-raised-button color="basic" routerLink="/tasks"><mat-icon>list</mat-icon></a>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <mat-card class="example-card">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)" >
      <div class="create-task-container">
        <mat-form-field>
          <input matInput placeholder="Title" required formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Description" required formControlName="description">
        </mat-form-field>
        <button mat-raised-button color="primary">Save</button>
      </div>
    </form>
  </mat-card>
</div>
